@import '../global/variables';

.not-found {
  width: 100%;
  min-height: calc(100% - 300px - 54px - 70px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    max-width: 550px;
    font-size: 22px;
  }
}
