@import '../global/variables';
.user-single {
  padding: 170px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc( 100% - 54px );
}
.user-edit {
  padding: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
  min-height: calc( 100% - 54px );
}
.dropdown-menu {

}
.dropdown-menu.drop1 {
    position: absolute;
    top: 0;
    left: 100%;
}
