%p My skills:
- @user.technologies.each do |f|
  = f.name
  = link_to "delete from skills", skills_destroy_path(user_id: @user.id,technology_id: f.id)
  %br
%button.btn.btn-info{"data-target" => "#skills", "data-toggle" => "collapse", :type => "button"} Add Skills
#skills.collapse
  - @technologies.each do |f|
    = f.name
    = link_to "add to skills", skills_create_path(user_id: @user.id, technology_id: f.id, level_id: 1)
