- if @companies.present?
  .container
    .row
      .col-md-12
        %section.user-list
          - @companies.each do |company|
            %article.user-item
              .user-item__name="#{company.name}"
              .user-item__email= "#{company.email}"

- else
  .not-found
    .not-found__content="#{t 'pages.offers.not_found'}"
