// Colors
$devs-white: #F9FAFD;
$devs-blue: #4670F2;
$devs-blue-light: #A3CAF4;
$devs-grey: #D2DBEF;
$devs-black: #3D4A58;
$devs-black-light: #73829F;
$devs-green: #49CB41;

//Fonts
$devs-primary-sans: 'Muli', sans-serif;
