@import '../global/variables';

.section--offers {
  background-color: whitesmoke;
  overflow: hidden;
}
.offers-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 100px 0;

  &--company {
    padding-top: 0;
  }
}

.offer {
  width: calc(33% - 40px);
  margin: 0 20px 40px;
  padding: 20px;
  background-color: white;

  &__title {
    font-size: 24px;
    margin: 25px 0 20px;
    color: $devs-black;
    text-align: center;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__location {
      background-color: $devs-green;
      border-radius: 50px;
      color: $devs-white;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 10px;
    }

    &__salary {
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__company {
    font-size: 16px;
    color: $devs-blue;
    text-align: center;
    margin: 0;
    a {
      color: $devs-blue;
    }
  }

  &__description {
    text-align: center;
    color: $devs-black;
    letter-spacing: 0.009em;
  }

  &__view {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.009em;
    a {
      color: $devs-black;
    }

    &::before {
      content: '';
      display: block;
      background-color: $devs-black;
      height: 2px;
      width: 40%;
      margin: 25px auto 15px;
    }
  }
}

@media screen and (max-width: 998px) {
  .offer {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 600px) {
  .offer {
    width: calc(100% - 40px);
  }
}
