@import '../global/variables';

.searchbar {
  min-height: 300px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/0KAT80KW5F.jpg');
  position: relative;
  background-size: cover;

  &::before {
    content: '';
    background-color: rgba($devs-black, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    text-align: center;
    color: $devs-white;
    font-size: 30px;
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    color: $devs-white;
    font-size: 20px;
  }

  &__form {
    margin-top: 10px;
    width: 100%;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__search {
      height: 40px;
      padding: 0 15px;
      line-height: 40px;
      font-size: 18px;
      width: calc(80% - 150px);
      display: inline-block;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      @media screen and (max-width: 798px) {
        width: calc(100% - 80px);
      }

      &:focus {
        outline: none;
      }
    }

    &__submit {
      height: 40px;
      background-color: $devs-blue;
      color: $devs-white;
      border: none;
      text-align: center;
      width: 150px;
      display: inline-block;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      @media screen and (max-width: 798px) {
        width: 80px;
      }
    }
  }
}
