@import "../global/variables";
.registration{
  min-height: calc( 100% - 54px );
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/N3X4D4WZG8.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    background-color: rgba($devs-black, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.sign-up {
  position: relative;
  max-width: 500px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba($devs-black, 0.15);

  h2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .input {
    margin-top: 10px;
    font-size: 16px;
  }
}

.form-actions {
  margin-top: 15px;
}
