@import "../global/variables";

.skills {
  text-align: center;
  margin: 20px 0 15px;
}

.skill__item {
  display: inline-block;
  border: 1px solid $devs-blue-light;
  border-radius: 50px;
  padding: 3px 9px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 5px;
  text-decoration: none;
  color: $devs-blue;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    background-color: $devs-blue;
    color: $devs-white;
    border-color: $devs-blue;
    text-decoration: none;
  }

  &--white {
    color: white;
    border-color: white;
  }
}
