@import '../global/variables';

.footer {
background-color: $devs-black;
bottom:0;
width: 100%;
padding: 10px 0;
text-align: center;

  .text-muted{
    font-style: $devs-primary-sans;
    font-size: 22px;
    margin-left: 20px;
  }
}
