@import "../global/variables";

.navbar-devs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 15px;
  background-color: $devs-black;
  box-shadow: 0 0 15px 0 rgba($devs-black, 0.65);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      img {
        height: 50px;
        border-radius: 50%;
      }

      &:not(last-child) a {
        margin-right: 10px;
      }

      a {
        color: $devs-white;
        font-weight: 600;
        transition: color 0.3s ease-in-out;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        &:hover {
          text-decoration: none;
          color: $devs-blue;
        }
      }
    }
  }

  &__brand a {
    font-size: 20px;
    font-weight: bold;
    color: $devs-white;
  }

}
