@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #6688cc;
}

div.sign-up {
  margin-top: 80px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 30px;
  background-color: #ddd;
}

div.sign-up h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

div.sign-up div.input {
  margin-top: 10px;
}

div.form-actions {
  margin-top: 15px;
}
