@import "bootstrap-sprockets";
@import "bootstrap";
@import "global/variables";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,600');

body {
  font-family: $devs-primary-sans;
}

body, html {
  height: 100%;
  width: 100%;
}

@import "views/registration";
@import "views/homepage";
@import "views/single-offer";
@import "views/user";

@import "partials/offer";
@import "partials/skills";
@import "partials/sign-up";
@import "partials/searchbar";
@import "partials/navbar";
@import "partials/footer";
@import "partials/hero";
@import "partials/user";
